<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/editTodo/:id" method="POST">
            <input type="text" name="text" value="<%=taskToEdit.text %>" />
            <input type="text" name="_id" value="<%=taskToEdit._id %>" hidden/>
            <button type="submit">save</button>
        </form>
    </div>
</body>
</html>
