<%- include("header.ejs") %>
<body>
    <div>
        <form action="/editTodo/:id" method="POST">
            <input type="text" name="text" value="<%=taskToEdit.text %>" />
            <input type="text" name="_id" value="<%=taskToEdit._id %>" hidden/>
            <button type="submit">save</button>
        </form>
    </div>
</body>
</html>
